*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: #4B5056;
  font-family: 'Nunito', sans-serif;
  font-size: 400;
  position: relative;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1, h2, h3 {
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: inherit;
}
.first-screen {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 158px;
  flex-wrap: wrap;
}
.main-title {
  font-size: 30px;
  color: #01ACB4;
  line-height: 48px;
  position: fixed;
  top: 40px;
  left: 80px;
  z-index: 9999;
}
.main-title:hover {
  color: #fff;
}
.first-img {
  width: 460px;
  height: 460px;
  position: relative;
  margin: 100px 40px 0;
}
.bubbles {
  position: absolute;
  top: -83px;
  left: -100px;
}
.first-pic {
  height: 100%;
  position: absolute;
  z-index: 1;
}
.social {
  display: flex;
  position: absolute;
  bottom: -80px;
  left: -105px;
}
.social-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #787C85;
  display: flex;
  margin: 0 5px;
}
.social-link svg {
  margin: auto;
}
.social-link:hover {
  background: #01ACB4;
}
.social-link:hover svg * {
  fill: #FFF;
}
.first-text {
  margin: 100px 40px 0;
}
.sub-title {
  color: #01ACB4;
  font-size: 80px;
  line-height: 128px;
}
.description {
  font-size: 20px;
  line-height: 140%;
  color: #01ACB4;
  max-width: 640px;
}
.countdown {
  font-size: 20px;
  line-height: 27px;
  color: #01ACB4;
  width: 318px;
  height: 318px;
  position: relative;
  text-align: center;
  margin-left: 256px;
}
.countdown:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #787C85;
  mix-blend-mode: multiply;
  position: absolute;
  z-index: -1;
  animation: bubble 1s infinite;
}
.countdown:after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #787C85;
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0px;
  right: -65px;
  z-index: -1;
  animation: bubble-reverse 1s infinite;
}
@keyframes bubble {
  0% {
      transform: none;
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: none;
  }
}
@keyframes bubble-reverse {
  0% {
      transform: scale(0.95);
  }
  50% {
    transform: none;
  }
  100% {
    transform: scale(0.95);
  }
}
.timer-description {
  padding-top: 120px;
}
.timer {
  color: #01ACB4;
  font-family: 'Baloo 2';
  font-size: 30px;
  line-height: 48px;
}
.timer-postscriptum {
  padding: 51px 41px;
  border-radius: 50%;
  position: absolute;
  right: -65px;
  bottom: 0;
}
.mid-header {
  font-size: 40px;
  line-height: 64px;
  color: #01ACB4;
  margin: 0 auto 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decor-ball {
  display: block;
  border-radius: 50%;
  background: #787C85;
  mix-blend-mode: multiply;
}
.small {
  width: 20px;
  height: 20px;
  animation: pulse_small 1s infinite;
}
.big {
  width: 48px;
  height: 48px;
  margin: 0 30px;
  animation: pulse_big 1s infinite;
}
@keyframes pulse_small {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 48px;
    height: 48px;
  }
  100% {
    width: 20px;
    height: 20px;
  }
}
@keyframes pulse_big {
  0% {
    width: 48px;
    height: 48px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 48px;
    height: 48px;
  }
}
.dreams {
  display: flex;
  justify-content: center;  
  margin-bottom: 158px;
}
.dream-block {
  position: relative;
  overflow: hidden;
  width: 386px;
  height: 330px;
  background: #787C85;
  border: 1px solid #787C85;
  border-radius: 6px;
  text-align: center;
  margin: 0 30px;
  cursor: pointer;
}
.dream-block svg {
  display: none;
  position: absolute;
  top: 30px;
  left: 28px;
  z-index: 2;
}
.dream-img {
  position: absolute;
  bottom: 100px;
  left: 30px;
  right: 30px;
  width: 326px;
  border-radius: 6px;
}
.dream-text {
  font-size: 20px;
  line-height: 140%;
  color: #01ACB4;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.dream-block:hover {
  background: #01ACB4;
  padding: 0;
  border-color: #01ACB4;
}
.dream-block:hover
.dream-img {
  left: 0px;
  right: 0px;
  width: 386px;
}
.dream-block:hover
.dream-text {
  color: #fff;
}
.dream-block:hover
svg {
  display: block;
}
.brands {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.brand-block {
  position: relative;
  width: 200px;
  height: 270px;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 20px;
  margin: 0 35px;
  overflow: hidden;
  cursor: pointer;
}
.brand-block svg {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}
.brand-img {
  width: 100%;
}
.brand-text {
  font-size: 20px;
  line-height: 140%;
  color: #01ACB4;
  text-align: center;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
}
.brand-block:hover {
  background: #01ACB4;
  border-color: #01ACB4;
  padding: 0;
}
.brand-block:hover
svg {
  display: block;
}
.brand-block:hover
.brand-text {
  color: #fff;
}
.wish-section {
  background: #787C85;
  padding-top: 60px;
}
.wishlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1278px;
  margin: 0 auto;
}
.wish-block {
  position: relative;
  border-radius: 6px;
  margin-bottom: 60px;
  cursor: pointer;
}
.wish-img {
  height: 386px;
  border-radius: 6px;
}
.wish-placeholder {
  display: none;
  background: rgba(1, 172, 180, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  border-radius: inherit;
  z-index: 1;
  text-align: center;
  padding: 0 30px;
}
.wish-title {
  font-size: 30px;
  line-height: 140%;
  color: #FFFFFF;
  margin: 57px auto 48px;
}
.wish-link {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 140%;
  margin: 71px auto 0;
}
.wish-block:hover
.wish-placeholder {
  display: block;
}
.footer {
  background: #787C85;
  margin-top: -20px;
  padding: 160px 80px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.footer:before {
  content: "";
  display: block;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background: #787C85;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -205px;
  animation: bubble 1s infinite;
}
.footer:after {
  content: "";
  display: block;
  width: 166px;
  height: 166px;
  border-radius: 50%;
  background: #787C85;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: 119px;
  animation: bubble-reverse 1s infinite; 
}
.foot-link {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 48px;
  color: #01ACB4;
}
.foot-link:hover {
  color: #fff;
  cursor: pointer;
}
.foot-social {
  width: 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-social-link {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-social-link:hover svg * {
  fill: #fff;
}

/*LANA`S CODE*/
:root {
    --color-primary: #01ACB4;
    --color-secondary: #ffffff;
    --color-bg-grey: #4B5056;
    --color-bg-light-grey: #787C85;
    --color-dark-blue: #1F3865;
    --color-bg-black: #000000;
    --color-bg-circle: #383C45;
}
header {
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, #787C85 0%, #4B5056 75.83%);
  position: fixed;
  z-index: 9998;
}
header:after {
  content: "";
  display: block;
  height: 60px;
  width: 100%;
  background: linear-gradient(180deg, #4B5056 0%, rgba(75, 80, 86, 0) 100%);
  margin-top: 40px;
}
.menu__list {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--color-primary);
}

.menu__item {
    margin: 40px 5px 0;
    padding: 9px 20px;
    border-radius: 20px;
}

.menu__item:hover,
.menu__item:active {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* section*/
.section {
    padding-top: 60px;
}

.section_container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
}

.light_grey_section {
    background-color: var(--color-bg-light-grey);
}
.light_grey_section_card:hover {
    background-color: var(--color-primary);
}

.dark_grey_section {
    background-color: var(--color-bg-grey);
}

.dark_grey_section_card:hover>.dark_grey_section_description {
    color: var(--color-secondary);
}

.section_title {
    font-family: 'Baloo 2';
    font-weight: 800;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green_section_title {
    color: var(--color-primary);
}

.white_section_title {
    color: var(--color-secondary);
}
.section_with_background_card {
    background-color: var(--color-bg-light-grey);
}

.cards_container {
    padding: 40px 0px 100px;
    display: flex;
    justify-content: space-between;
}

/* cards */
.idea_card {
    width: 386px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-right: 60px;
    padding: 30px 30px 0px;
}

.idea_card:last-child {
    margin-right: 0px;
}

.idea_card:hover {
    padding: 0px 30px 30px;
}

.idea_card:hover>.idea_img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: scale(1.3);
}

.idea_card:hover>.idea_description {
    margin: 60px 0px 0px;
}

.idea_img {
    width: 100%;
    border-radius: 6px;
}

.idea_description {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin: 30px 0px 40px;
}
.white_description {
    color: var(--color-secondary);
}

.blue_description {
    color: var(--color-dark-blue);
}

.green_description {
    color: var(--color-primary);
}

/*icons */

.icon_ok {
    position: absolute;
    width: 24px;
    height: 29px;
    background-image: url("../img/ok.svg");
    top: 28px;
    left: 32px;
    display: none;
}

.icon_notOk {
    position: absolute;
    width: 24px;
    height: 29px;
    background-image: url("../img/notOk_black.svg");
    top: 31px;
    left: 32px;
    display: none;
}

.icon_heart {
    position: absolute;
    width: 32px;
    height: 28.86px;
    background-image: url("../img/icon_heart.svg");
    top: 31px;
    left: 32px;
    display: none;
}

.icon_star {
    position: absolute;
    width: 28px;
    height: 27px;
    background-image: url("../img/star.svg");
    top: 10px;
    left: 10px;
    display: none;
}

.img__icon {
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/present_white.svg");
    top: 169px;
    left: 169px;
    z-index: 100;
}

/* good idea */ 
.goodidea_card:hover>.icon_ok {
    display: block;
}

/*bad idea */

.badidea_card:hover>.icon_notOk {
    display: block;
}

.badidea_card:hover>.blue_description {
    color: var(--color-secondary);
}

.badidea_card:hover {
    background-color: var(--color-bg-black);
}


/* tablet */

@media only screen

and (min-width: 800px)
and (max-width: 1199px) {
  /* cards */ 
    .dreams, .wishlist {
      flex-wrap: wrap;
    }
    .dream-block {
      margin-bottom: 60px;
    }
    .dream-block:last-child {
      margin-bottom: 0;
    }
    .cards_container,
    .wishlist {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 40px 20px 0px;
    }
    .wish-block {
      margin: 0 30px 60px;
    }

    .idea_card {
        margin-right: 0px;
        margin: 0px 20px 60px;
    }
    .idea_img {
        height: 200px;
        border-radius: 6px;
    }

    /*footer */
    .footer {
        padding: 160px 20px 40px;
        margin-bottom: 48px;
    }

    
}

/* phone */

@media only screen

and (max-width: 799px) {
  .first-screen {
    padding: 140px 0 0;
    margin: 0;
    display: block;
    width: auto;
  }
  .main-title {
    position: fixed;
    top: 20px;
    left: 90px;
  }
  .first-img {
    margin: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, #787C85 0%, #4B5056 75.83%);
    position: fixed;
    top: 0px;
    z-index: 10;
  }
  .first-img:after {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #4B5056 0%, rgba(75, 80, 86, 0) 100%);
    margin-top: 79px;
  }
  .first-pic {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .bubbles {
    display: none;
  }
  .social {
    position: absolute;
    right: 20px;
    top: 10px;
    left: auto;
    bottom: auto;
  }
  .first-text {
    padding: 0 20px;
    margin: 0 0 126px;
    width: 100%;
  }
  .sub-title {
    font-size: 50px;
    line-height: 80px;
  }
  .description {
    max-width: 100%;
  }
  .countdown {
    margin: 40px 0 0;
    width: 278px;
    height: 278px;
  }
  .countdown:after {
    width: 114px;
    height: 114px;
  }
  .timer-description {
    font-size: 16px;
    padding-top: 105px;
  }
  .timer {
    font-size: 24px;
    line-height: 38px;
  }
  .timer-postscriptum {
    padding: 46px 38px;
    font-size: 16px;
  }
  .mid-header {
    margin: 0 auto 46px;
    font-size: 30px;
    line-height: 48px;
  }
  .dreams {
    display: block;
    padding: 0 20px;
    margin: 0 0 66px;
  }
  .dream-block {
    width: 100%;
    height: auto;
    padding: 30px;
    margin: 0 0 60px;
    pointer-events: none;
  }
  .dream-block:last-child {
    margin-bottom: 0;
  }
  .dream-img {
    width: 100%;
    position: static;
  }
  .dream-text {
    position: static;
    margin: 30px 0 10px;
  }
  .brands {
    display: block;
    padding: 0 20px;
  }
  .brand-block {
    height: 80px;
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 0;
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  .brand-img {
    width: 80px;
  }
  .brand-text {
    position: static;
    margin-left: 16px;
  }
  .wish-section {
    margin-top: 40px;
    padding-bottom: 100px;
  }
  .wishlist {
    padding: 0 20px;
    display: block;
    padding-bottom: 1px;
  }
  .wish-block {
    width: 100%;
    pointer-events: none;
    margin-bottom: 125px;
  }
  .wish-img {
    width: inherit;
    height: auto;
  }
  .wish-placeholder {
    display: block;
    background: 0;
    top: 100%;
    bottom: auto;
    padding: 0;
  }
  .wish-placeholder svg *,
  .wish-title {
    display: none;
  }
  .wish-link {
    position: absolute;
    top: 20px;
    margin: 0;
  }
  .footer {
    display: none;
  }
      /* cards */
    .section_title {
        font-size: 30px;
        padding: 0px 20px;
    }

    .idea_card {
        width: 100%;
        margin: 0 0 60px;
        pointer-events: none;
    }

    .idea_card:last-child {
        margin-right: 0px;
        margin: 0px;
    }

    .decor-ball .big {
        margin: 0px 12px;
    }
    header {
        position: fixed;
        padding: 0px;
        bottom: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 80px;
        background: linear-gradient(180deg, #787C85 0%, #4B5056 75.83%);
    }
    header:before {
        content: "";
        display: block;
        width: 100%;
        height: 60px;
        background: linear-gradient(180deg, rgba(120, 124, 133, 0) 0%, #787C85 100%);
        margin-top: -60px;
    }
    
    /* menu */
    .menu__list {
        font: 0/0 serif;
        color: transparent;
        display: flex;
        justify-content: space-between;
        margin: 0px 20px;
    }

    .menu__item {
        margin: 10px 0px 0;
        padding: 0px;
    }

    .menu__link {
        display: block;
        height: 48px;
        width: 48px;
    }

    .menu__item:last-child {
        margin-right: 0px;
    }

    .menu__item_1 {
        background-image: url("../img/heart.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .menu__item_2 {
        background-image: url("../img/star.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .menu__item_3 {
        background-image: url("../img/ok.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .menu__item_4 {
        background-image: url("../img/notOk_color.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .menu__item_5 {
        background-image: url("../img/present.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .menu__item:hover,
    .menu__item:active,
    .menu__item:focus {
        background-color: unset;
    }

    .menu__item:hover,
    .menu__item:active,
    .menu__item:focus {
        filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(324deg) brightness(0%) contrast(104%);
    }
    .cards_container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 40px 20px 0px;
    }

    .idea_card {
        margin-right: 0px;
        margin: 0px 20px 60px;
    }
}

